# Common build and editor junk.
build/
install/
tmp_build_dir/
tmp_install_dir/
**/build/
**/install/
**/tmp_build_dir/
**/tmp_install_dir/
*.o
*.a
*.so
*.exe
*.dll
*.dylib
*.zip
*.dSYM
*.pyc
__pycache__/
.ipynb_checkpoints/
.vscode/
.idea/
**/data.strips
amrex-tutorials/ExampleCodes/ML/PYTORCH/libtorch-cxx11-abi-shared-with-deps-2.0.1+cpu.zip
amrex-tutorials/ExampleCodes/ML/PYTORCH/libtorch_cpu/
